<div class="row">
  <div class="col-md-10 col-offset-2">
    <h1><%= t "static_pages.questions.list_questions" %></h1>
    <%= link_to t("static_pages.questions.create_suggest_question"),
      new_question_path %>
    <table class="table table-striped table-hover">
      <thead>
        <th><%= t "static_pages.questions.subject.subject" %></th>
        <th><%= t "static_pages.questions.content" %></th>
        <th><%= t "static_pages.questions.update" %></th>
        <th><%= t "static_pages.questions.delete" %></th>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.subject.name %></td>
            <td><%= question.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= will_paginate  %>
