<div class="col-md-12.col-md-offset-0">
  <%= form_for :lesson, html: {class: "form-inline"} do |f| %>
    <%= f.collection_select :subject_id, @subjects, :id, :name, {},
      class: "form-control" %>
    <%= f.submit t("user.lesson.create"), class: "btn btn-primary" %>
  <% end %>
  <hr>
  <table class="table table-striped table-hover table-style">
    <thead>
      <th class="th-style"><p><%= t "user.create_at" %></p></th>
      <th class="th-style"><p><%= t "user.subject" %></p></th>
      <th class="th-style"><p><%= t "user.status" %></p></th>
      <th class="th-style"><p><%= t "user.duration" %></p></th>
      <th class="th-style"><p><%= t "user.question_number" %></p></th>
      <th class="th-style"><p><%= t "user.point" %></p></th>
      <th class="th-style"></th>
    </thead>
    <tbody>
      <% @lessons.each do |lesson| %>
        <tr>
          <td class="td_style"><%= lesson.created_at %></td>
          <td class="td_style"><%= lesson.subject.name %></td>
          <td class="td_style"><%= lesson.status %></td>
          <td class="td_style"><%= lesson.subject.duration %></td>
          <td class="td_style"><%= lesson.subject.question_number %></td>
          <% if lesson.checked? %>
            <td class="td_style"><%= lesson.get_point lesson.id %></td>
          <% elsif %>
            <td class="td_style"> -- </td>
          <% end %>
          <td class="td_style"><%= link_to t("user.start"), lesson_path(lesson) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
