<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("static_pages.title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if logged_in? %>
          <% if current_user.is_admin? %>
            <li><%= link_to t("admin.static_pages.admin"), admin_root_path %></li>
          <% elsif %>
            <li><%= link_to t("static_pages.questions.name"), questions_path %></li>
            <li><%= link_to t("user.lesson.title"), lessons_path %></li>
          <% end %>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle",
              "data-toggle": :dropdown do %>
              <%= t "static_pages.account" %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t("static_pages.profile"), "" %></li>
              <li><%= link_to t("static_pages.settings"), "" %></li>
              <li class="divider"></li>
              <li><%= link_to t("static_pages.log_out"), logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("static_pages.log_in"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
